

* {
    box-sizing: border-box;
}

body{
    width: 100%;
    height: auto;
    background-image: url(/imag/fondodegradadogris.jpg);
    background-repeat: no-repeat;
    background-position: fixed;
    background-size: cover;
    background-color: #04404d;
}


header div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    height: 150px;
}


#rrss img{
    height: 2.5rem;
    padding: 10px 40px 5px 20px;
}
 
#rrss{
    display: flex;
    flex-direction: column;
}



h1{
    font-size: 2.5rem;
    color: #000;
    justify-content: flex-start;
}


#logo{ 
    border: 3px dotted color #04404d;
    border-radius: 7px;
    margin-left: 15rem;
    justify-content: flex-end;
}


#iconoclima img{
    width: 40px;
    height: 40px; 
    border-radius: 1rem;
    color: rgb(2, 111, 133); 
}

#tiempo{
    display: flex;
    justify-content: flex-start; 
}


a{
    color: #000; 
    font-size: 1rem;
}

a:hover{
    background: #04404d;
    color: hwb(56 5% 13%) 
}

#elementosnav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

#navbar{
    display: flex;
    justify-content: center;
}


#idioma img{
    border-radius: 1rem;
    color: rgb(2, 111, 133);
}

#idioma{
    float: right;
}


#galeria img{
    width: 200px;
    height: 200px;
    border-radius: 20rem;
    background-color: rgb(2, 111, 133);
    display: inline-flex;
    align-content: center;
    margin-right: 50px;  
}

#galeria{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}


#galeria h5{
    text-align: center;
    position: absolute;
    top: 300px;
    right: 120px;
}


h2{
    font-size: 1.5em;
    color: #000;
}


h3{
    font-size: 1.2rem;
    color: #000;
}


h4{
    font-size: 1rem;
    color: #000;
}


body p{
    font-size: 20px;
}


span:hover{
    color: rgb(2, 111, 133);
    background-color: hwb(56 5% 13%) ;
}


hr{
    color:hwb(56 5% 13%);
    border: dotted
}


#itinerarios{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}


#jesuitas img{
    width: 150px;
    height: 150px;
 }


#jesuitas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}


#iconoarriba img{
    width: 2rem;
    height: 2rem;     
}


#iconoarriba{
    display: flex;
    flex-direction: column;
}


#elementosfooter{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}





